body{
    margin: 0;
    font-size: 18px;
   /* background-color: rgb(0,0,180);*/

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

font-weight: lighter;
/*color: white;*/
}
.reset-password-container{
text-align: center;

    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    margin-top: 20px;

}.reset-password-container h1{
    border-bottom:  10px solid rgb(0,52,102);
    color: rgb(0,0,180);
}
.reset-password-container input[type=email]{

padding: 10px 10px;
width: 70%;

margin-left: auto;
margin-right: auto;
display: block;
border: 2px solid #ccc;
outline: 1px;
font-size: 20px;
}

.reset-password-container input[type=text]{

    padding: 10px 10px;
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #ccc;
    outline: 1px;
    font-size: 20px;
    }


    input[type=number]{

        padding: 10px 10px;
        width: 70%;
        
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 2px solid #ccc;
        outline: 1px;
        font-size: 20px;
        }
        input[type=password]{

            padding: 10px 10px;
            width: 70%;
            
            margin-left: auto;
            margin-right: auto;
            display: block;
            border: 2px solid #ccc;
            outline: 1px;
            font-size: 20px;
            }

    
.reset-password-container input[type=submit]{

    padding: 10px 10px;
    width: 60%;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: 1px;
    background-color: mediumseagreen;
    font-size: 20px;
    color: white;
    }
    .reset-password-container p:nth-child(1){

        text-align: center;

    }
    .message-container{
        text-align: center;

    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    margin-top: 20px;

    }
    .message-container p{
        text-align: center;
        color: blue;;
    }
    .message-container input[type=submit]{


        padding: 10px 10px;
        width: 50%;
        
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: none;
        outline: 1px;
        background-color: rgb(0,52,102);
        font-size: 20px;
        color: white;

    }
    .otp-button{
        display: none;
    }
    i{
        cursor: pointer;
        
    }
    span{
        cursor: pointer;
    }